POSTGRES_DB=otiappdb

POSTGRES_ADMIN_USER=admin
POSTGRES_ADMIN_PASSWORD=adminpass123

POSTGRES_READ_USER=oti_read
POSTGRES_READ_PASSWORD=readpass123

POSTGRES_WRITE_USER=oti_write
POSTGRES_WRITE_PASSWORD=writepass123